    [Interface]
    MTU = 1420
    PrivateKey = {{ opennebula_private_key }}
    Address = 10.100.0.2/32
    DNS = 8.8.8.8

    [Peer]
    PublicKey = {{ wireguard_admins_public_key }}
    AllowedIPs = 10.100.0.0/24
    Endpoint = 62.109.2.23:51820
